<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <div>
      <form action="/clientsignIn" method="POST">
        <button type="submit" name="userType" value="Client">Client</button
        ><br />
      </form>
      <form action="/brokerSignIn" method="POST">
        <button type="submit" name="userType" value="Broker">Broker</button
        ><br />
      </form>
    </div>
    <br />
    <br />
  </body>
</html>
